/* 固定头部 */
.lt-header{
  height: 44px;
  background-color: #046691;
  text-align: center;
  line-height: 44px;
  /* padding: 7px 0px; */
}
.lt-header a#info{
  color: #fff;
}
.lt-header a#info:last-child{
  display: none;
}
.lt-header h1.mui-title{
  color: #fff;
}
.lt-header p{
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 42px;
  margin: 0px;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
}
/* 固定底部 */
.lt-footer {
  height: 50px;
  background-color: #046691;
}
.lt-footer .mui-tab-item span{
  font-size: 14px;
  color: #fff;
}
.lt-footer .mui-tab-item span:first-child{
  font-size: 18px;
}
.lt-footer .mui-tab-item span:last-child{
  display: block;
}
.lt-footer .mui-tab-item.active span{
  color:#ff8207 ;
}

/* 中间内容 */
.mui-content .adlist .mui-input-group .mui-input-row{
	margin-bottom: 17px;
}
button.mui-btn-block{
	font-size: 14px;
	padding: 8px 0px;
}